*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lawngreen;
}
.hidden{
    display: none;
}